---
import Shell from '../layouts/shell.astro';

const birthdate = "1997-08-09T07:00:00Z";
const ageDiff = new Date(Date.now() - new Date(birthdate).getTime());
const age = ageDiff.getUTCFullYear() - 1970
---

<Shell title="skiddle@web ~/about">
  <div class="prose max-w-2xl mx-auto">
    <h1>About me</h1>

    <p>
      I'm a software developer passionate about JavaScript and open protocols, creating better information ecosystems.
      I'm a {age}-year old from Indonesia, now based in Bangkok, Thailand.
    </p>

    <p>
      I specialize in web development, decentralized technologies, and AI, with a particular
      focus on the ATProtocol ecosystem. My journey in tech has been driven by a
      desire to create meaningful and impactful solutions.
    </p>

    <p>
      I'm have a little ADHD, but I'm lucky enough to not have
      it be too obstructive to my work or my life.
      Currently, I'm also working as a DevOps engineer.
    </p>

    <h2>My interests</h2>

    <p>
      I'm a open to learning anything new. It doesn’t matter if it's not tech, I
      just want to learn. From history to philosophy, from music to art, from
      sports to games, I'm always up for a new challenge.
    </p>

    <p>
      Primarily last few years, I've been interested in building with AI, 
      and I've been learning a lot about it. This related to my major in 
      Artificial Intelligence and Machine Learning.
    </p>

    <p>
      Outside of programming, I enjoy gaming, and also learning about aviation.
      I've been learning to fly for a while now, and I'm also interested in 
      learning about space. Also working towards a PPL license (Private Pilot License).
    </p>

    <p>
      As a {age}-year-old, I Feel missing out on a lot of the social aspect of 
      the world, but I try to make the most of it.
    </p>

    <h2>My Infrastructure</h2>

    <h3>PCs</h3>

    <ul>
      <li>Skiddle-Pika: My Main PC, running Arch Linux, with a Ryzen 9 7950X and RTX 4090</li>
      <li>Skiddle-Bulba: Gaming PC, running Windows 11, with a Ryzen 9 9950X3D and RTX 5090</li>
    </ul>

    <h3>Laptops</h3>

    <ul>
      <li>Skiddle-Blastoise: My MacBook Pro 16-inch, running macOS, with an M3 Pro</li>
      <li>Skiddle-Charizard: ASUS ProArt P16, running Windows 11, with an AMD Ryzen AI 9 HX 370 and RTX 5070 (Newest, mostly used by my Girlfriend)</li>
    </ul>

    <h3>Storage</h3>

    <ul>
      <li>Skiddle-Torchic: My Home NAS, running TrueNAS, with a 4TB NVMe and a combined 120TB HDD</li>
    </ul>

    <h3>Server</h3>

    <ul>
      <li>Skiddle-Titan: My Server & Workstation, Proxmox VE, with a Ryzen Threadripper PRO 9985WX (64-core) and RTX 6000 Ada</li>
    </ul>

    <h3>Other</h3>

    <ul>
      <li>Skiddle-Eevee: Raspberry Pi 4 Cluster, 8x Raspberry Pi 4B+ with 4GB RAM each, Running Kubernetes</li>
    </ul>

    <h3>Programming Languages</h3>

    <p>From my most to least favorite:</p>

    <ul>
      <li>TypeScript</li>
      <li>Go</li>
      <li>PHP</li>
      <li>Rust</li>
      <li>JavaScript (TypeScript is definitely better)</li>
      <li>Vue.js</li>
      <li>C++</li>
      <li>Java</li>
      <li>Ruby</li>
      <li>Python</li>
    </ul>

    <p>notes: I did working with other languages, but that's pure hobby</p>

    <h3>Editor</h3>

    <p>
      Primarily, I use <a href="https://zed.dev">Zed</a>,
      but I also use <a href="https://neovim.io">Neovim</a> for some tasks.
    </p>

    <h3>Terminal</h3>

    <p>
      I use <a href="https://www.iterm2.com">iTerm2</a> on macOS, and <a href="https://www.windows-terminal.net">Windows Terminal</a> on Windows.
    </p>
  </div>
</Shell>
