---
import Shell from '../layouts/shell.astro';
---

<Shell>
  <div class="flex flex-col lg:flex-row justify-start items-center gap-6 max-w-2xl mx-auto w-full mb-4">
    <img src="https://github.com/arcestia.png" class="size-32 rounded-full" />
    <div class="flex flex-col items-start justify-center gap-3">
      <h1 class="font-bold text-2xl">Hi, I'm Laurensius Jeffrey.</h1>
      <h3 class="text-xl text-[var(--color-primary)]">DevOps engineer</h3>
    </div>
  </div>

  <div class="prose max-w-2xl mx-auto">
    <p>
      I'm a software developer passionate about JavaScript and open protocols, creating better information ecosystems.
      I'm currently working as a DevOps engineer.
    </p>

    <p>
      I'm building automation and tools to make my life easier.
      I'm also building Homelab and self-hosted services.
    </p>

    <p>
      I'm huge fan of open source software and I'm always open to learning new things.
      I'm also love data science and machine learning.
    </p>

    <p>
      I’m based in Bangkok, Thailand, and I’m always open to having
      conversations with people about any topic you think I’d find interesting.
    </p>
  </div>

  <hr />

  <div class="max-w-sm w-full mx-auto grid sm:grid-cols-2 gap-4">
    <div class="flex flex-col gap-2">
      <span class="font-bold text-lg">On the web</span>
      <ul class="list-disc list-inside">
        <li><a class="text-[var(--color-primary)] underline" href="https://bsky.app/profile/skiddle.blue">Bluesky</a></li>
        <li><a class="text-[var(--color-primary)] underline" href="https://github.com/arcestia">GitHub</a></li>
        <li><a class="text-[var(--color-primary)] underline" href="https://www.instagram.com/skiddle.id">Instagram</a></li>
        <li><a class="text-[var(--color-primary)] underline" href="https://open.spotify.com/artist/3Syg5zMokVKFq3ZpdFVK4F">Spotify</a></li>
        <li><a class="text-[var(--color-primary)] underline" href="mailto:jeff@skiddle.id">Email</a></li>
      </ul>
    </div>
    <div class="flex flex-col gap-2">
      <span class="font-bold text-lg">On this site</span>
      <ul class="list-disc list-inside">
        <li><a class="text-[var(--color-primary)] underline" href="/about">About me</a></li>
        <li><a class="text-[var(--color-primary)] underline" href="/posts">Blog</a></li>
      </ul>
    </div>
  </div>
</Shell>
