---
import Shell from "~/layouts/shell.astro";
 
---
<Shell>
  <div class="max-w-2xl mx-auto flex flex-col gap-4">
    <h1 class="font-bold text-lg text-[var(--color-primary)]">410 Gone</h1>
    <p>This page has been removed.</p>
  </div>
</Shell>
